html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body 
{

    background-image: url('https://zefirka.club/uploads/posts/2022-09/1663539710_31-zefirka-club-p-oboi-na-rabochii-stol-svetlie-minimalizm-32.jpg');
    background-size: cover; /* Растягивает изображение на весь экран */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение изображения */
    background-attachment: fixed; /* Фиксирует изображение при прокрутке */
    min-height: 100vh; /* Минимальная высота — 100% высоты экрана */

    margin-bottom: 60px;
}
.btn-orange {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn-orange:hover {
        background-color: darkorange;
    }